# Compiled class file
*.class

# Log files
log/
*.log

# Gradle-specific
.gradle/
build/

# Maven-specific
target/

# Quarkus-specific
.target/
quarkus-app/
.legacy/
work/
build.log
test.log

# IDE-specific files
.idea/
.vscode/
*.iml
.idea_modules/
.classpath
.project
.settings/

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.swp
*.tmp
*.bak
*.~*

# Dependencies
node_modules/
jspm_packages/
bower_components/

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar

# Maven Wrapper
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*.out
*.class
.project
.cproject
.settings/
.loadpath

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Visual Studio Code
.vscode/
